.container{
    flex-grow: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #111315;
    overflow: hidden;
    color: white;
}
.panel{
    height: 30px;
    background-color: #212529;
    display: flex;
    align-items: end;
}
.tab{
    position: relative;
    background-color: #111315;
    height: 90%;
    width: 130px;
    border-radius: 5px 5px 0px 0px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    color: white;
    font-size: 14px;
}
.tab::after{
    position: absolute;
    content: "";
    background: #111315;
    width: 10px;
    height: 10px;
    z-index: 1;
    left: -10px;
    bottom:0px;
}
.tab::before{
    position: absolute;
    content: "";
    background: #111315;
    width: 10px;
    height: 10px;
    z-index: 1;
    right: -10px; 
    bottom:0px;   
}
.tab span::before{
    position: absolute;
    content: "";
    background-color: #212529;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 2;
    right: -20px;
    bottom:0px;
}
.tab span::after{
    position: absolute;
    content: "";
    background-color: #212529;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 2;
    left: -20px;
    bottom:0px;
}

.outputBox{
    padding-left: 10px;
}
.title{
    margin: 20px 0px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.data{
    line-height: 1.2rem;
}